body {
    box-sizing: border-box;
    width: 960px;
    margin: 0 auto;
}
header {
    margin: 30px 0 30px 0;
    padding-top: 30px;
}
#branding img {
    float:left;
    padding-right: 10px;
}
#branding, #share {
    display:inline-block;
}
#branding {
    width: 400px;
    margin-right: 326px;
}
#branding h3 {
    font-size: 36px;
    font-family: cursive;
    font-weight: bold;
    font-style: italic;
}
#branding h4 {
    font-family: sans-serif;
    font-size: 10px;
}
#rss {
    padding-left: 10px;
}
.hr {
    width: 960px;
    height: 15px;
    background-image: url(assets/hr-img.png);
    margin-bottom: 30px;
    margin-top: 30px;
}
#article-heading {
    margin-bottom: 30px;
    padding-top: 30px;
}
#article-info {
    display: inline-block;
    margin-right: 598px;
}
#article-info h1 {
    font-weight: bolder;
    font-size: 40px;
    font-family: sans-serif;
}
#article-info h2 {
    font-size: 10px;
    font-family: sans-serif;
    color: gray;
}
#print {
    display: inline-block;
}
#print span {
    font-size: 12px;
    color: gray;
    font-family: sans-serif;
}
#main-img {
    width: 960px;
}
#list {
    height:326px;
}
#list img{
    width: 960px;
}
#list td {
    line-height: 32px;
    max-width: 250px;
}
.left {
    padding-right: 200px;
}
p {
    font-size: 20px;
    color: gray;
    line-height: 24px;
}
article p{
    text-indent: 30px;
    margin: 30px 0 30px;
    font-family: 'IBM plex serif';
}
table {
    position: relative;
    bottom: 288px;
    margin-left: 50px;
    font-size: 20px;
    font-family: sans-serif;
}

#about-container {
    margin-bottom: 60px;
}

#about-text {
    display:inline-block;
    padding-left: 10px;
    max-width: 600px;
    margin-right: 71px;
}
#about-text h5 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
#about-author {
    display: inline-block;
}
footer button {
    position:relative;
    width: 200px;
    height: 65px;
    bottom: 35px;
    background-color: orangered;
    border: none;
    color:white;
    border-radius: 5%;
    font-size: 16px;
}
#logo-container {
    text-align: center;
    margin-bottom: 30px;
}
#footer-info {
    text-align: center;
    padding-bottom: 10px;
}
#footer-info p {
    font-size: 16px;
}

