body {
    box-sizing: border-box;
    width: 960px;
    margin: 0 auto;
}
header {
    margin: 40px 0 40px 0;
}
#branding img {
    float:left;
}
#branding, #share {
    display:inline-block;
}
#branding {
    width: 400px;
}
.hr {
    width: 960px;
    height: 15px;
    background-image: url(assets/hr-img.png);
}
#list {
    height:326px;
}
#list img{
    width: 960px;
}
#list td {
    line-height: 32px;
    max-width: 250px;
}
.left {
    padding-right: 200px;
}
article p {
    font-size: 20px;
    text-indent: 30px;
    margin: 30px 0 30px;
    line-height: 24px;
}
table {
    position: relative;
    bottom: 288px;
    margin-left: 50px;
    font-size: 24px;
}

